<!doctype html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}Гемотест Хелпер — лабораторная система{% endblock %}
    </title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reagents.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% include 'header.html' %}
    <main class="main">{% block content %}{% endblock %}</main>

    <!-- Только core.js — все глобальные модули здесь -->
    <script src="{% static 'js/core.js' %}"></script>

    <!-- Остальные скрипты подключаются через extra_js в дочерних шаблонах -->
    {% block extra_js %}{% endblock %}
  </body>
</html>
