<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title%}
    <title>Document</title>
    {% endblock %} {% block style %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    {%endblock%}
  </head>
  <body>
    <!-- block content -->
    {%block content%}
    <!-- home page -->
    {% include 'includes-form/base.html'%}
    <!-- headers -->
    {% include 'header.html'%}
    <!-- aliquote -->
    {% include 'includes-form/modern-alicvote.html'%}
    <!-- ---------- -->
    {%endblock%}

    <!-- Notification System -->
    <div id="notification" class="notification hidden"></div>

    <!-- block script -->
    {% block script %}
    <script>
      async function turnStateMouse() {
        console.log("Режим мыши");
        const element = document.querySelector(".doombass-block");
        let state = false;

        if (!element) {
          alert("Элемент .doombass-block не найден!");
          console.log(
            "Доступные классы:",
            document.querySelectorAll("[class*='doombass']"),
          );
          return;
        }

        if (!element.classList.contains("active")) {
          element.classList.add("active");
          state = true;
        } else {
          element.classList.remove("active");
          state = false;
        }

        const data = { state: state };

        try {
          const response = await fetch("/turn-mouse/", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });

          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }

          const result = await response.json();
          console.log("Ответ сервера:", result);
          return result;
        } catch (error) {
          console.error("Ошибка отправки на сервер:", error);
        }
      }
    </script>
    {%endblock%}
  </body>
</html>
