<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="quick-actions">
          <button class="quick-btn" onclick="showModule('barcode')">
            <i class="fas fa-print"></i>
            Быстрая печать
          </button>
          <button class="quick-btn" onclick="showModule('reagent')">
            <i class="fas fa-vial"></i>
            Симуляция гемостаза
          </button>
          <button class="quick-btn" onclick="showModule('calculations')">
            <i class="fas fa-calculator"></i>
            Калькулятор растворов
          </button>
          <button class="quick-btn">
            <i class="fas fa-question-circle"></i>
            Помощь
          </button>
        </div>
      </div>
  </body>
</html>
