{% extends 'index.html'%} {% block content %}
<!-- Header -->
{% include 'includes-form/header.html'%}
<!-- End header  -->

<!-- Quick Actions -->
{% include 'includes-form/panel-quick-actions.html'%}

<!-- Barcode Module -->

<!-- Reagent System Module -->
{% include 'includes-form/reagent-module.html'%}

<!-- Roche модуль -->
{% include 'includes-form/roche-module.html'%}

<!-- Модул расчетов -->
{% include 'includes-form/calculate-module.html'%}

<!-- Модуль аликвот -->
{% include 'includes-form/modern-alicvote.html'%}

<!-- Endblock -->
{% endblock %}
